<h1>Seja Bem-Vindo</h1>
<p>O idioma usado nessa aplicação é: <strong> <%= t("actual_locale") %> </strong> </p>
<p><strong>Data:</strong> <%= l (Date.today) %></p>
<p><%= t('hello')%></p>

<%= render "menu" %> <%#Importa e renderiza o menu %>

<p>
    Você está em ambinte de <strong><%= ambiente_rails %></strong>
</p>

<p>
    Eu sou uma variavel de instância/sessao <strong><%= @meu_nome %></strong>
</p>

<p>
    Meu curso é curso de <strong><%= @meu_curso %></strong>
</p>